.form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 15rem;
}

.form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}
.boxes {
  font-size: 15px;
}

.form input[type="text"],
.form input[type="number"],
.form textarea {
  width: calc(100% - 22px); /* Adjust width to accommodate padding */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  font-size: 16px;
}

.form input[type="file"] {
  width: 100%;
  margin-bottom: 15px;
}

.form textarea {
  resize: none;
  height: 100px;
}

.submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-font-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: var(--main-font-color-dark);
}

.submit:active {
  background-color: var(--main-font-color-dark);
}