.always-fresh {
  background: url("/images/image.webp") center no-repeat;
  background-size: cover;
}

.shared {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}