footer {
    background-color: var(--third-font-color);
    color: var(--white-color);
    padding: 7rem 0 5rem;
    position: relative;
    text-align: center;
  }
  
  .back-to-top {
    background-color: var(--third-font-color);
    border-radius: 50%;
    position: absolute;
    top: -3rem;
    left: 50%;
    width: 7rem;
    height: 7rem;
    transform: translateX(-50%);
  }
  
  .back-to-top i {
    display: block;
    color: var(--white-color);
    font-size: 2rem;
    padding: 2rem;
    animation-name: showsUp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  .footer__content {
    overflow: hidden;
  }
  
  .footer__content h4 {
    font-size: 1.9rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3rem;
  }
  
  footer .asterisk {
    color: var(--secondary-font-color);
    margin: 2.4rem;
  }
  
  .footer__content-about {
    margin-bottom: 5.4rem;
  }
  
  .footer__content-about p {
    line-height: 1.8;
  }
  
  .social-icons {
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
  }
  
  .social-icons i {
    font-size: 2rem;
    color: var(--white-color);
    padding: 0.8rem 2rem;
    opacity: 0.5;
    transition: color 0.5s;
  }
  
  .social-icons i:hover,
  .social-icons i:focus {
    color: var(--secondary-font-color);
  }
  
  .newsletter-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .newsletter-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border: none;
    outline: none;
  }
  
  .newsletter-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--main-font-color-dark);
    font-size: 1.6rem;
    padding: 1px 0.6rem;
    outline: none;
  }
  
  .newsletter-form-box {
    background-color: var(--white-color);
    border-radius: 0.4rem;
    display: flex;
    overflow-x: hidden;
  }