.hero {
  width: 100%;
  height: 75vh;
  background: url("https://firebasestorage.googleapis.com/v0/b/elixir-2c248.appspot.com/o/Pagina%2FFondo.webp?alt=media&token=bffaa42a-96ac-4d15-92af-49453a43d2ec") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.headline {
  font-style: italic;
  letter-spacing: 0.2rem;
  margin-right: -0.5rem;
  opacity: 0;
  animation-name: scaleBigger;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

h1.headline {
  font-family: var(--main-alegreya);
  color: var(--third-font-color);
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 7rem;
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.sub-headline {
  font-size: 6.5rem;
  font-family: var(--headings-font);
  color: var(--third-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  opacity: 0;
  animation-name: fadeUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.sub-headline::first-letter {
  text-transform: uppercase;
  font-size: 8.3rem;
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--secondary-font-color);
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixir-2c248.appspot.com/o/Pagina%2Fmadera.webp?alt=media&token=9b5e8411-df62-409b-9e1f-1f5d47bbc074");
  color: var(--main-font-color);
  padding: 2rem 3rem;
  transition: all 0.4s;
}

.btn-primary:hover {
  background-color: var(--white-color);
  color: var(--secondary-font-color);
}

@media screen and (max-width: 600px) {

  h1.headline {
    margin: 5%;
    font-size: 4.6rem;
  }

  .btn {
    font-size: 1.2rem;
    margin-left: 5%;
  }

  .headline-dark {
    font-size: 3rem;
  }
}
