.hero {
  width: 100%;
  height: 100vh;
  background: url("https://firebasestorage.googleapis.com/v0/b/elixir-2c248.appspot.com/o/Pagina%2FFondo.webp?alt=media&token=bffaa42a-96ac-4d15-92af-49453a43d2ec") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.headline {
  font-style: italic;
  letter-spacing: 0.2rem;
  margin-right: -0.5rem;
  animation-name: scaleBigger;
  animation-fill-mode: both;
}

h1.headline {
  font-family: var(--main-alegreya);
  color: var(--third-font-color);
  margin-bottom: 4rem;
  font-weight: 600;
  font-size: 7rem;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.sub-headline {
  font-size: 6.5rem;
  font-family: var(--headings-font);
  color: var(--third-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  opacity: 0;
  animation-name: fadeUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.sub-headline::first-letter {
  text-transform: uppercase;
  font-size: 8.3rem;
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--secondary-font-color);
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixir-2c248.appspot.com/o/Pagina%2Fmadera.webp?alt=media&token=9b5e8411-df62-409b-9e1f-1f5d47bbc074");
  color: var(--main-font-color);
  padding: 2rem 3rem;
  transition: all 0.4s;
}

.floating-button {
  position: fixed;
  bottom: 70px; /* Distancia desde el fondo */
  right: 20px; /* Distancia desde la derecha */
  background-color: #800000; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 50%; /* Botón redondo */
  width: 60px; /* Ancho del botón */
  height: 60px; /* Altura del botón */
  display: flex; /* Para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de profundidad */
  transition: background-color 0.3s, transform 0.3s; /* Efecto de transición */
}

.floating-button:hover {
  background-color: #a52a2a; /* Color de fondo al pasar el mouse */
  transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}

@media screen and (max-width: 600px) {

  h1.headline {
    margin: 5%;
    font-size: 4.6rem;
  }

  .btn {
    font-size: 1.2rem;
    margin-left: 5%;
  }

  .headline-dark {
    font-size: 3rem;
  }
}
