/* ImageComponent.css */
.image1 {
  position: absolute;
  top: 0;
  left: -70px;
  margin-top: 3%;
  
}

.image2 {
  position: absolute;
  bottom: -20px;
  right: 0px;
}

.image-container img {
  width: auto; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 250px;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .image-container img {
    height: 180px;
  }
  .image2 {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}