.modal-content {
    display: flex;
    max-width: 800px;
    margin: auto;
    background-color: #F2EAE4;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .modal-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2EAE4;
  }
  
  .modal-left img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .modal-right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .close-button-modal {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-right h2 {
    margin-top: 0;
    font-size: large;
  }
  
  .modal-right p {
    margin: 10px 0;
  }
  
  .btn-modal {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .btn-modal:hover {
    background-color: var(--secondary-font-color);
  }
  
  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  
  .ReactModal__Content {
    max-width: 50%;
    max-height: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    position: relative;
    text-align: center;
    z-index: 1001;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
  }
  