.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 100px auto;
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
}

.image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin-top: 3rem;
}

.textSection {
  flex: 2;
}

.section {
  margin-bottom: 20px;
}

.title {
  font-family: var(--main-font-titulos);
  color: var(--secondary-font-color);
  font-size: 26px;
  color: #333;
  text-align: center;
}

.content {
  font-size: 18px;
  color: #6b4e31;
  line-height: 1.4;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column; /* Alinea los elementos en una columna */
    gap: 10px; /* Ajusta el espacio entre elementos si es necesario */
    margin: 20px auto; /* Ajusta el margen para pantallas más pequeñas */
  }

  .imageSection {
    flex: none; /* Quita el comportamiento flex para estos elementos */
    width: 100%; /* Asegura que ocupen todo el ancho disponible */
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
  }

  .image {
    width: 64%; /* Establece el ancho de la imagen en 64% */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 5rem; /* Ajusta el margen superior si es necesario */
  }

  .title, .content {
    text-align: center; /* Asegura que el texto esté centrado */
    font-size: 16px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }
}
