.bakersContainer {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-family: var(--main-font-titulos);
    color: var(--secondary-font-color);
    font-size: 48px;
  }
  
  .subtitle {
    font-size: 36px;
    margin-top: -10px;
    font-family: var(--secondary-font);
  }
  
  .bakersGrid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .bakerCard {
    text-align: center;
  }
  
  .bakerImage {
    width: 180px;
    height: 300px;
    border-radius: 5%;
  }
  
  .bakerName {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
  }
  
  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .socialIcon {
    color: var(--third-font-color);
    font-size: 20px;
    text-decoration: none;
  }
  
  .socialIcon:hover {
    color: var(--third-font-color);
  }
  
  .description {
    margin-top: 5%;
    max-width: 600px;
  }

  .description2 {
    max-width: 600px;
  }