.product-list {
  margin-top: 13rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-button {
  background-color: var(--secondary-font-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
}

.modal-content {
  display: flex;
  max-width: 800px;
  margin: auto;
  background-color: #f2eae4;
  border-radius: 10px;
  overflow: hidden;
}

.modal-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2eae4;
}

.modal-left img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-button-modal {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modal-right h2 {
  margin-top: 0;
  font-size: large;
}

.modal-right p {
  margin: 10px 0;
}

.btn-modal {
  display: block;
  width: 75%;
  padding: 10px;
  background-color: #333;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/elixir-2c248.appspot.com/o/Pagina%2Fmadera.webp?alt=media&token=9b5e8411-df62-409b-9e1f-1f5d47bbc074');
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--secondary-font-color);
}

.cart-button:hover {
  background-color: var(--main-font-color);
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* Asegura que el overlay esté por encima de otros elementos */
}

.ReactModal__Content {
  max-width: 85%;
  max-height: 80%;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  position: relative;
  text-align: center;
  z-index: 1001; /* Asegura que el contenido del modal esté por encima del overlay */
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.product {
  margin: 0 10px 0 10px;
}

.container-product {
  padding-left: 7%;
  padding-right: 7%;
}

.product-item {
  flex: 0 0 50%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin: 15px;
  padding: 15px;
  width: 215px;
  margin: 5%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background-color: #ece1cf;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-item h3 {
  font-size: 1.5rem;
  margin: 2%;
  color: #333;
}

.product-item p {
  font-size: 1.2rem;
  color: #666;
}

.product-item button {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixir-2c248.appspot.com/o/Pagina%2Fmadera.webp?alt=media&token=9b5e8411-df62-409b-9e1f-1f5d47bbc074");
  background-color: var(--secondary-font-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.product-item button:hover {
  background-color: var(--main-font-color-dark);
}

.product-item:hover {
  transform: translateY(-5px);
}